.form-card-note {
  height: 100%;
}

.input-card-note {
  padding: 0.5rem;

  border: none;
  color: var(--black);
}

input.input-card-note {
  font-size: 1.5rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

textarea.input-card-note {
  font-size: 1rem;
  line-height: 1.5rem;

  flex-grow: 1;
  overflow-y: auto;
  resize: none;
}