.form-card-note {
  height: 100%;
}

.input-card-note {
  padding: 0.5rem;

  border: none;
}

.input-card-note:focus {
  outline: none;
}

.input-card-note-light {
  color: var(--text-black);
  background-color: var(--card-light);
}

.input-card-note-dark {
  color: var(--white);
  background-color: var(--card-dark);
}

input.input-card-note {
  font-size: 1.5rem;
  font-weight: 700;

  margin-bottom: 1rem;
}

textarea.input-card-note {
  font-size: 1rem;
  line-height: 1.5rem;

  flex-grow: 1;
  overflow-y: auto;
  resize: none;
}