.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-display-none {
  display: none;
}

.modal-content {
  border-radius: 5px;
  padding: 2rem;
  width: 80vw;
}

.modal-content, .modal main {
  display: flex;
  flex-direction: column;
}

.modal main h2 {
  text-align: center;
}

.modal main img {
  width: 60%;
  margin: 1rem 0 1.5rem 0;
  align-self: center;
}

.modal footer {
  display: flex;
  justify-content: center;
}

.modal footer button > span {
  margin-left: 1rem;
}

.modal section {
  margin-bottom: 1.5rem;
}

.modal section:last-of-type {
  margin-bottom: 2rem;
}

.modal section strong {
  font-size: 1.25rem;
}

.themes {
  margin-top: 1rem;

  display: flex;
  justify-content: center;
}

.themes .color:not(.themes .color:last-of-type),
.themes .btn-mode:not(.themes .btn-mode:last-of-type) {
  margin-right: 1rem;
}

.themes.mode button > span {
  margin-left: 0.5rem;
}

.themes.mode .btn-mode-light {
  background-color: var(--bg-light);
  color: var(--text-black);
}

.themes.mode .btn-mode-dark {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.themes .color {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.themes .color.green {
  background-color: var(--green);
}

.themes .color.purple {
  background-color: var(--purple);
}

.themes .color.blue {
  background-color: var(--blue);
}

.themes .color.pink {
  background-color: var(--pink);
}

.themes .color.yellow {
  background-color: var(--yellow);
}

@media(min-width: 720px) {
  .modal-content {
    width: 25rem;
  }
}