.card-note {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 1.75rem;
  border-radius: 15px;
}

.card-light {
  background-color: var(--white);
  color: var(--black);
}

.card-note.card-light small {
  color: var(--gray-light);
}

.card-dark {
  background-color: var(--purple-dark);
  color: var(--white);
}

.card-note.card-dark small {
  color: var(--purple);
}

.card-light, .card-dark {
  transition: 300ms;
}

.card-note h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.card-note small {
  display: flex;
  align-items: center;

  font-style: italic;
  font-size: 0.75rem;
}

.card-note small > span {
  margin-left: 0.4rem;
}

.card-note .card-text {
  line-height: 1.5rem;
  white-space: pre-line;
  word-break: break-word;
}

@media(max-width: 720px) {
  .card-note-link:not(.card-note-link:last-child) {
    margin-bottom: 1.75rem;
  }
}