.logo-title {
  width: fit-content;
  position: relative;
}

.logo-title h1 {
  font-size: 2rem;
  pointer-events: none;
}

.logo-title .marker {
  position: absolute;
  height: 39%;
  width: calc(100% + 10px);
  transform: translate(-5px, -100%);
  z-index: -1;
  background-color: var(--purple);
}

.btn-purple {
  transition: 200ms;
}

.btn-mode:focus > .icon-light-mode {
  animation: icon-light-mode 500ms ease-out forwards;
  opacity: 0;
}

@keyframes icon-light-mode {
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.btn-mode:focus > .icon-dark-mode {
  animation: icon-dark-mode 500ms ease-out forwards;
  opacity: 0;
}

@keyframes icon-dark-mode {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards-notes {
  display: flex;
  flex-direction: column;
}

.no-notes {
  display: flex;
  flex-direction: column;
}

.no-notes .text-no-notes {
  background-color: rgba(151, 104, 209, 0.5);
  border: 1px solid var(--purple);
  border-radius: 10px;

  font-size: 1rem;
  text-align: center;

  padding: 0.5rem 2.5rem;
  margin-bottom: 0.5rem;
}

.no-notes img {
  width: 50vw;
  align-self: center;
}

@media(min-width: 720px) {
  .cards-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;
  }

  .no-notes .text-no-notes {
    width: 25rem;
    align-self: center;
  }

  .no-notes img {
    width: 25rem;
  }
}