.animate-up {
  opacity: 0;

  animation: up 500ms forwards;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  transition: animation 200ms, opacity 200ms;
}

.btn-mode:focus > .icon-light-mode {
  animation: icon-light-mode 500ms ease-out forwards;
  opacity: 0;
}

@keyframes icon-light-mode {
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.btn-mode:focus > .icon-dark-mode {
  animation: icon-dark-mode 500ms ease-out forwards;
  opacity: 0;
}

@keyframes icon-dark-mode {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 250ms;
}