:root {
  --bg-light: #F2F3F5;
  --bg-dark: #1E1428;
  --white: #FFFFFF;
  --black: #0F0F0F;
  --purple: #9966CC;
  --purple-dark: #2D1E3D;
  --red: #EB5757;
  --green: #6FCF97;
  --gray: #686868;
  --gray-light: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}

body, input, button, textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

i {
  color: var(--gray);
}

button {
  display: flex;
  align-items: center;

  margin-left: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 15px;

  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: .2s;
}

button:first-child {
  margin-left: 0;
}

button:hover {
  filter: brightness(0.95);
}

.btn-purple {
  background-color: var(--purple);
}

.btn-gray {
  background-color: var(--gray);
}

.btn-green {
  background-color: var(--green);
}

.btn-red {
  background-color: var(--red);
}

.bg-light {
  background-color: var(--bg-light);
  color: var(--black);
}

.bg-dark {
  background-color: var(--bg-dark);
  color: var(--white);
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.container.note-fullscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media(min-width: 720px) {
  button {
    padding: 1rem 1.5rem;
  }
}