header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3rem;
}

header .header-buttons {
  margin-top: 1rem;
  display: flex;
}

.header-buttons button > span {
  display: none;
}

@media(min-width: 720px) {
  .header-buttons button > span {
    display: inline-block;
    margin-left: 20px;
  }
}

@media(min-width: 375px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .header-buttons {
    margin-top: 0;
    margin-left: 1rem;
  }
}