.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 3rem;
}

.logo-title h1 {
  font-size: 2rem;
}

.logo-title .marker {
  position: relative;
  height: 39%;
  width: calc(100% + 10px);
  transform: translate(-5px, -100%);
  z-index: -1;
  background-color: var(--purple);
}

header .header-buttons {
  margin-top: 1rem;
  display: flex;
}

.cards-notes {
  display: flex;
  flex-direction: column;
}

@media(min-width: 720px) {
  .cards-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media(min-width: 370px) {
  header .header-buttons {
    margin-top: 0;
  }
}