:root {
  --bg-light: #FAFCFC;
  --bg-dark: #190F26;
  --white: #FFFFFF;
  --black: #0F0F0F;
  --purple: #9768D1;
  --purple-transparent: rgba(151, 104, 209, 0.1);
  --red: #EB5757;
  --green: #6FCF97;
  --gray: #828282;
  --gray-light: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  transition: .2s;
}

a:hover {
  filter: brightness(0.9);
}

button {
  display: flex;
  align-items: center;

  margin-left: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;

  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: .2s;
}

button:first-child {
  margin-left: 0;
}

button:hover {
  filter: brightness(0.9);
}

button > span {
  display: none;
}

.btn-purple {
  background-color: var(--purple);
}

.btn-gray {
  background-color: var(--gray);
}

.btn-green {
  background-color: var(--green);
}

.btn-red {
  background-color: var(--red);
}

body.bg-light {
  background-color: var(--bg-light);
  color: var(--black);
}

body.bg-dark {
  background-color: var(--bg-dark);
  color: var(--white);
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 3rem;
}

header .header-buttons {
  margin-top: 1rem;
  display: flex;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media(min-width: 720px) {
  button {
    padding: 1rem 1.5rem;
  }

  button > span {
    display: inline-block;
    margin-left: 20px;
  }
}

@media(min-width: 370px) {
  button:first-child {
    margin-left: 1rem;
  }

  header .header-buttons {
    margin-top: 0;
  }
}